<!-- link the css -->
<link rel="stylesheet" href="/css/footer.css">

<!-- UI for footer -->
<div class="card footer">
    <div class="card-body">
      <strong>&#169;</strong> All Rights Reserved
      <footer>
        <cite>&#8213;Shubham Rawat</cite>
      </footer>
    </div>
  </div>